<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <meta http-equiv="refresh" content="5"> -->

    <!--Boostrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css" integrity="sha384-xeJqLiuOvjUBq3iGOjvSQSIlwrpqjSHXpduPd6rQpuiM3f5/ijby8pCsnbu5S81n" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!--Css Imports-->
    <link rel="stylesheet" href="../css/default.css">
    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="../css/login.css">

    <title>Register | Pizza Delivery Hub</title>


</head>
<body>
    <div class="login-form">    
        <form #userPost="ngForm"(ngSubmit)="onRegister(userPost.value,username)">
            <div class="avatar"><i class="fa fa-user"></i></div>
            <h4 class="modal-title">Regsiter Your Account</h4>
            <div class="form-group">
                <input type="text" class="form-control" id="username" placeholder="Username" required="required">
            </div>
            <div class="form-group">
              <input type="email" class="form-control" id="email" placeholder="Email" required>
          </div>
            <div class="form-group">
                <input type="password" class="form-control" id="pass" placeholder="Password" required="required">
            </div>
            <input type="submit" class="btn btn-primary btn-block btn-lg" value="Register">              
        </form>			
        <div class="text-center small">Already a member ? <a routerLink = "/login">Login</a></div>
    </div>
    <hr style="width: 90%;">
</body>
</html>    